#slider {
    width: 1000px;
    height: auto;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 15000px;
    height: auto;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 1000px;
    height: auto;
}
img{
	width: 1000px;
    height: auto;
}
